<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_KhachSan.Properties.Settings.TheNewStarHotel_DBConnectionString"
            connectionString="Data Source=DESKTOP-SJULKJC;Initial Catalog=TheNewStarHotel_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QL_KhachSan.Properties.Settings.TheNewStarHotel_DBConnectionString1"
            connectionString="Data Source=viet;Initial Catalog=TheNewStarHotel_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>